<form id="new-event">
    Nazwa: <input type="text" ng-model="title">
    Kategoria: <category-selector on-update="setCategory(id)"></category-selector>

    Data:
    <datepicker date-format="MM-dd-yyyy">
        <input ng-model="date" type="text"/>
    </datepicker>

    Przedział czasowy:
    <select name="periodSelect" id="periodSelect" ng-model="period">
        <option ng-repeat="period in periods" value="{{period.id}}">{{period.startHour}}-{{period.endHour}}</option>
    </select>


    Osoba:
    <select name="personSelect" id="personSelect" ng-model="person">
        <option ng-repeat="person in people" value="{{person.id}}">{{person.firstName}} {{person.lastName}}</option>
    </select>

    <button id="submit" ng-click="add()">Dodaj wydarzenie</button>
</form>
