<div class="jumbotron">
    <h1 class="display-4">Witamy w aplikacji do zarządzania planem dnia!</h1>

    <p class="lead" ng-if="mode == null">
        Proszę wybrać, jakie wydarzenia chciałbyś zobaczyć. Możesz również użyć przycisku do stworzenia nowego wydarzenia.
    </p>
    <p class="lead" ng-if="mode == 'day'">
        Proszę wprowadzić datę, z której chcesz obejrzeć wydarzenia:
    </p>
    <p class="lead" ng-if="mode == 'month'">
        Proszę wybierz miesiąc:
    </p>
    <p class="lead" ng-if="mode == 'person'">
        Proszę wybierz osobę, której wydarzenia chcesz obejrzeć:
    </p>
    <hr class="my-4">
    <p class="lead" ng-if="mode == null">
        <a class="btn btn-primary btn-lg" role="button" ng-click="setMode('day')">Plan według dnia</a>
        <a class="btn btn-info btn-lg" role="button" ng-click="setMode('month')">Plan według miesiąca</a>
        <a class="btn btn-warning btn-lg" role="button" ng-click="setMode('person')">Plan dla wybranej osoby</a>
    </p>
    <p class="lead" ng-if="mode == 'day'">
        <datepicker date-format="MM-dd-yyyy" date-enabled-dates="{{datesWithEvents}}">
            <input ng-model="date" class="form-control" type="text"/>
        </datepicker>
        <br><br>
        <a class="btn btn-primary btn-lg" role="button" ng-click="goToSelectedMode('day')">Przejdź dalej</a>
        <a class="btn btn-warning btn-lg" role="button" ng-click="clearChoice()">Cofnij wybór</a>
    </p>
    <p class="lead" ng-if="mode == 'month'">
        <month-selector on-update="setMonth(id)"></month-selector><br>
        <a class="btn btn-primary btn-lg" role="button" ng-click="goToSelectedMode('month')">Przejdź dalej</a>
        <a class="btn btn-warning btn-lg" role="button" ng-click="clearChoice()">Cofnij wybór</a>
    </p>
    <p class="lead" ng-if="mode == 'person'">
        <select name="personSelect" class="form-control" id="personSelect" ng-model="person">
            <option ng-repeat="person in people" value="{{person.id}}">{{person.firstName}} {{person.lastName}}</option>
        </select><br>
        <a class="btn btn-primary btn-lg" role="button" ng-click="goToSelectedMode('person')">Przejdź dalej</a>
        <a class="btn btn-warning btn-lg" role="button" ng-click="clearChoice()">Cofnij wybór</a>
    </p>
    <a href="#!/event/create" class="btn btn-success">Stwórz nowe wydarzenie</a>
</div>