<div>
    <div class="alert alert-success" role="alert" ng-if="success == '1'">
        Pomyślnie stworzyłeś nowe wydarzenie!
    </div>
    <div class="alert alert-success" role="alert" ng-if="success == '2'">
        Pomyślnie wyedytowałeś wydarzenie!
    </div>

    <h1>Przeglądasz wydarzenia dla osoby {{ person }}</h1>

    <events-navigation on-update-sort="setSort(key)" on-update-filter="setFilter(key)"></events-navigation>
    <div ng-repeat="event in events | filter: filterPhrase | orderBy: orderByPhrase">
        <show-event id="event.id" title="event.title" category="event.category" date="event.date" period="event.period" person="event.person"></show-event>
    </div>

    <div ng-if="noRecords">
        Przepraszamy, ale ta osoba nie ma żadnych wydarzeń. Możesz jednak stworzyć nowe wydarzenie, używając przycisków na dole.
    </div>
    <div class="text-right">
        <a href="#!/event/createWithPerson/{{personsId}}" class="btn btn-primary">Stwórz nowe wydarzenie</a>
    </div>
</div>
