<ol>
    <li ng-repeat="item in studenci | filter: filterPhrase | orderBy: orderByPhrase">
        <student firstname='item.firstName' lastName='item.lastName' age="item.age" showage="showAge"></student>
        <student-marks marks="item.oceny"></student-marks>
        <student-details id='item.id'></student-details>
        <a href="#!/ps5/edit/{{item.id}}">Edytuj studenta</a><br>
        <a href="#!/ps5/delete/{{item.id}}">Usuń studenta</a>
    </li>
</ol>

<button ng-click="triggerShowAge()">Kliknij aby wyswietlic wiek</button>
<form id="filter">
    Wyszukiwarka: <input type="text" ng-model="filterPhrase">
</form>


<button ng-click="sortLastName()">Sortuj poprzez nazwisko</button><br>
<button ng-click="sortAge()">Sortuj poprzez wiek</button><br>

<a href="#!/ps5/create">Dodaj nowego studenta</a>

<!--<add-student on-update="addStudent('newstudent', value)"></add-student>-->