<div class="card">
    <category-bar category="$ctrl.category"></category-bar>
    <div class="card-body">
        <h5 class="card-title">Tytuł wydarzenia: {{ $ctrl.title }}</h5>
        <h5 class="card-title">Data: {{ $ctrl.date }}</h5>
        <p class="card-text">Okres: {{ $ctrl.period | periodFilter}}</p>
        <a href="#!/event/edit/{{$ctrl.id}}" class="btn btn-primary">Edytuj</a>
        <a href="#!/event/delete/{{$ctrl.id}}" class="btn btn-danger">Usuń</a>
        <modal></modal>
    </div>
</div>