<span ng-if="$ctrl.marks.length > 0">
    Oceny:
    <span ng-repeat="ocena in $ctrl.marks">
                        <ul ng-if="ocena === 1 || ocena === 2">
                            <span style="color: red;">{{ ocena }}</span>
                        </ul>
                        <ul ng-if="ocena === 5">
                            <span style="color: green;">{{ ocena }}</span>
                        </ul>
                        <ul ng-if="ocena === 3 || ocena === 4">
                            <span>{{ ocena }}</span>
                        </ul>
                    </span>
                    <span>Srednia ocen:
                        <span ng-bind="$ctrl.average($ctrl.marks)"></span>
                    </span>
</span>